* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.output{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.input_conatainer{
    width: 250px;
    margin: auto;
}

#text_input{
    padding: 10px;
    font-size: 15px;
}

#bttn{

}